 <!-- ========== Left Sidebar Start ========== -->
 <div class="left side-menu">
   <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
     <i class="mdi mdi-close"></i>
   </button>

   <div class="left-side-logo d-block d-lg-none">
     <div class="text-center">

       <a href="/dashboard" class="logo"><img src="/assets/images/logo1.png" height="20" alt="logo"></a>
     </div>
   </div>

   <div class="sidebar-inner slimscrollleft">

     <div id="sidebar-menu">
       <ul>
         <li class="menu-title">اصلی</li>

         <li>
           <a href="/dashboard" class="waves-effect">
             <i class="dripicons-home"></i>
             <span> داشبورد </span>
           </a>
         </li>

         <li>
           <a href="/dashboard/edit-statistic" class="waves-effect"><i class="mdi mdi-circle-edit-outline"></i> <span> ویرایش آمار سایت</span> </a>

         </li>

         <li class="has_sub">
           <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-school"></i> <span> اساتید و معلمان</span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
           <ul class="list-unstyled">
             <li><a href="/dashboard/add-teacher">معلم جدید</a></li>
             <li><a href="/dashboard/teachers">ویرایش و حذف معلمان</a></li>
           </ul>
         </li>
         <li>
           <a href="/dashboard/gallery" class="waves-effect"><i class="mdi mdi-postage-stamp"></i><span>گالری</span></a>
         </li>
         <li class="has_sub">
           <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-book-outline"></i> <span>کلاس ها یا دوره ها </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
           <ul class="list-unstyled">
             <li><a href="/dashboard/add-course">ایجاد کلاس یا دوره جدید</a></li>
             <li><a href="/dashboard/courses">ویرایش کلاس ها و دوره ها</a></li>

           </ul>
         </li>



         <li class="has_sub">
           <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-layers-outline"></i><span>رویداد ها</span><span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
           <ul class="list-unstyled">
             <li><a href="/dashboard/add-event">اضافه کردن رویداد جدید</a></li>
             <li><a href="/dashboard/events">ویرایش و حذف رویداد ها</a></li>

           </ul>
         </li>
         <li class="has_sub">
           <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-blogger"></i><span>بلاگ ها</span><span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
           <ul class="list-unstyled">
             <li><a href="/dashboard/add-blog">اضافه کردن بلاگ جدید</a></li>
             <li><a href="/dashboard/blogs">ویرایش و حذف بلاگ ها</a></li>

           </ul>
         </li>



       </ul>
     </div>
     <div class="clearfix"></div>
   </div> <!-- end sidebarinner -->
 </div>
 <!-- Left Sidebar End -->