<!-- 500 Error -->
<section class="area-404">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 error-img">
              <img src="/assets/images/500.svg" alt="404">
              <a href="/" class="box-btn">بازگشت به خانه</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Error -->