   <!-- Start Page Title Area -->
   <div class="banner-area about">
     <div class="d-table">
       <div class="d-table-cell">
         <div class="container">
           <div class="page-title-content">
             <h2>درباره ما</h2>
             <ul>
               <li>
                 <a href="/"> صفحه اصلی </a>
                 <i class="flaticon-left-arrow"></i>
                 <p class="active"> درباره ما</p>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- End Page Title Area -->

   <!-- About Area -->
   <section class="about-area">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-md-7">
           <div class="single-about">
             <div class="about-img">
               <img src="/assets/images/about-img.png" alt="about" />
             </div>

             <div class="about-contnet">
               <h2>مراكز زبان كيش و كارن بجنورد و مدارس غيردولتي كارن</h2>
               <p>
                 اين مجموعه با هدف ارتقاي سطح آموزشي و فرهنگي استان خراسان شمالي و با رويكرد آموزش هاي بين المللي از سال ١٣٩٠ در شهرستان بجنورد شروع به فعاليت نموده و ضمن اخذ نمايندگي تيسول كانادا ، تافل جونيور امريكا (ETS ) با همكاري شركت EZ و نمايندگي المپياد دانش آموزي زبان انگليسي ايتاليا ( هيپو) با جذب بيش از ١٤٠ مدرس و كارمند و با سه شعبه مدرسه و چهار شعبه آموزشگاه زبان با بيش از ١٥٠٠ زبان آموز گام هاي بزرگي در جهت رشد و پويايي جامعه آموزشي داشته است ، لازم به ذكر است ورزش و موسيقي جايگاه ويژه اي در اين مجموعه دارد.
               </p>
             </div>

           </div>
         </div>

         <div class="col-lg-4 col-md-5">
           <div class="about-content-right">
             <form>
               <div class="input-group">
                 <input type="text" class="form-control about-search" placeholder="جستجو ..." />
               </div>
               <button type="submit"> <i class="flaticon-search"></i></button>
             </form>
             <p class="visit">بازدید بیشتر</p>

             <ul class="about-list">
               <li>
                 <a href="/courses"> <i class="flaticon-left-arrow"></i>کلاس ها</a>
               </li>


               <li>
                 <a href="/events"> <i class="flaticon-left-arrow"></i>رویدادها</a>
               </li>
               <li>
                 <a href="/blogs"> <i class="flaticon-left-arrow"></i>اخبار</a>
               </li>
               <li>
                 <a href="/teachers"> <i class="flaticon-left-arrow"></i>مربیان</a>
               </li>
             </ul>


           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- End About Area -->

   <!-- Choose area  -->
   <section class="choose-area">
     <div class="container-fluid">
       <div class="row align-items-center">
         <div class="col-lg-6 pr-0">
           <div class="home-choose-img">
             <img src="/assets/images/founder.png" alt="choose" />
           </div>
         </div>

         <div class="col-lg-6 home-choose">
           <div class="home-choose-content">
             <div class="section-tittle">
               <h2>درباره موسس</h2>
               <p>
                 دکتر مجتبی غلامیان
               </p>
             </div>

             <div class="row">
               <div class="col-lg-4 col-sm-12 col-md-5">
                 <ul class="choose-list-left">
                   <li><i class="flaticon-check-mark"></i>كارشناسي مترجمي زبان انگليسي </li>
                   <li> <i class="flaticon-check-mark"></i>كارشناسي ارشد آموزش زبان انگليسي </li>
                   <li><i class="flaticon-check-mark"></i>دكتري مديريت آموزشي </li>
                   <li><i class="flaticon-check-mark"></i>داراي مدرك بين المللي آيلتس</li>
                   <li><i class="flaticon-check-mark"></i>مدرك بين المللي مديريت كارآمد از TUV انگلستان</li>
                   <li><i class="flaticon-check-mark"></i>كارآفرين نمونه خراسان شمالي در حوزه آموزش در سال ٩٨ و عضو انجمن كارآفرينان برتر كشور</li>
                 </ul>
               </div>
               <div class="col-lg-8 col-sm-12 col-md-7">
                 <div class="choose-list-home">
                   <ul>
                     <li> <i class="flaticon-check-mark"></i> داراي گواهينامه و مدال چهره هاي ماندگار آموزش ايران</li>
                     <li> <i class="flaticon-check-mark"></i>نماينده كارآفرينان استان در كانون كارآفرينان خراسان شمالي </li>
                     <li> <i class="flaticon-check-mark"></i>سرپرست تيم بستكبال كارن در اولين ليگ بستكبال خراسان شمالي </li>
                     <li><i class="flaticon-check-mark"></i>مدرس دانشگاه هاي شهرستان بجنورد </li>
                     <li><i class="flaticon-check-mark"></i>مدرس زبان هاي انگليسي ، فرانسه و تركي</li>
                     <li><i class="flaticon-check-mark"></i>عضو شوراي نظارت آموزش و پرورش شهرستان بجنورد </li>
                   </ul>
                 </div>
               </div>
               <a href="" class="box-btn">بیشتر بدانید</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- End Choose area -->
   <%- include('./includes/contactus.ejs') %>