  <!-- Start Page Title Area -->
  <div class="banner-area terms">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="page-title-content">
            <h2>قوانین و ضوابط</h2>
            <ul>
              <li>
                <a href="/"> صفحه اصلی </a>
                <i class="flaticon-left-arrow"></i>
                <p class="active">قوانین و ضوابط</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Title Area -->

  <!-- Terms & Conditions -->

  <section class="terms-area">
    <div class="container">
      <h2>شعبه ها</h2>
      <ul class="list-group">
        <li class="list-group-item">دفتر مرکزی : بجنورد خیابان طالقانی شرقی کوچه جاجرمی جنب عمارت - 32221441-058</li>
        <li class="list-group-item">شعبه دخترانه : شریعتی جنوبی کوچه تقی زاده 32233533-058</li>
        <li class="list-group-item">شعبه پسرانه : شریعتی جننوبی کوچه جاجرمی 32211295-058</li>
        <li class="list-group-item">شعبه بزرگسالان : طالقانی شرقی کوچه مرتضوی 32721672-058</li>
        <li class="list-group-item">مدرسه کارن یک و دو : خیابان ملاصدرا پلاک 10 32255969-058</li>
        <li class="list-group-item">کارن 3 : خیابان طالقانی شرقی کوچه جاجرمی</li>
        <li class="list-group-item">کارن دخترانه : شریعتی جنوبی</li>
      </ul>
    </div>
  </section>