 <!-- Start Page Title Area -->
 <div class="banner-area contact">
   <div class="d-table">
     <div class="d-table-cell">
       <div class="container">
         <div class="page-title-content">
           <h2>تماس با ما</h2>
           <ul>
             <li>
               <a href="/"> صفحه اصلی </a>
               <i class="flaticon-left-arrow"></i>
               <p class="active">تماس با ما</p>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- End Page Title Area -->

 <div class="shape-ellips-contact">
   <img src="assets/images/contact-shape.png" alt="shape" />
 </div>

 <!-- Service area -->
 <section class="service-area">
   <div class="container">
     <div class="row">
       <div class="col-lg-4 col-sm-6">
         <div class="single-service text-center">
           <div class="service-icon">
             <i class="flaticon-clock"></i>
           </div>
           <div class="service-content">
             <h2>ساعت کاری</h2>
             <p>شنبه - پنجشنبه : 70:00 صبح - 01:00 ظهر و<br> 04:00 عصر - 09:00 شب</p>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-sm-6">
         <div class="single-service text-center">
           <div class="service-icon">
             <i class="flaticon-pin"></i>
           </div>
           <div class="service-content">
             <h2>آدرس</h2>
             <p> دفتر مرکزی: بجنورد - خیابان طالقانی شرقی - کوچه جاجرمی - نبش عمارت</p>

           </div>
         </div>
       </div>
       <div class="col-lg-4 col-sm-12">
         <div class="single-service text-center sst-10">
           <div class="service-icon">
             <i class="flaticon-telephone"></i>
           </div>
           <div class="service-content">
             <h2>تلفن</h2>
             <p>058-32221441</p>
             <p>058-32211295-7</p>
             <p>058-32237724</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

 <!-- End Service area -->

 <%- include("./includes/contactus.ejs") %>